In [209]:
import pandas as pd

In [210]:
file1 = 'data/Energy-Data-Edited.csv'
file2 = 'worldPopulationData.csv'

In [211]:
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

In [212]:
df1.head()

,Country,Year,pop,Region,SubRegion,biodiesel_cons_kboed,biodiesel_cons_pj,biodiesel_prod_kboed,biodiesel_prod_pj,biofuels_cons_ej,...,ren_power_ej,ren_power_twh,ren_power_twh_net,renewables_ej,solar_ej,solar_twh,solar_twh_net,wind_ej,wind_twh,wind_twh_net
0,Algeria,1965,12.381256,Africa,Northern Africa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Algeria,1966,12.613389,Africa,Northern Africa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Algeria,1967,12.897116,Africa,Northern Africa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Algeria,1968,13.190975,Africa,Northern Africa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Algeria,1969,13.491016,Africa,Northern Africa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [213]:
df2.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720839314.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0

### Keeping same countries in both datasets

In [214]:
l1 = set(df1['Country'])
l2 = set(df2['Country Name'])

In [215]:
len(l1), len(l2)

(140, 266)

In [216]:
match = list(l1.intersection(l2))
len(match)

90

In [217]:
not_match = list(l1.difference(l2))
len(not_match)

50

In [218]:
# only keep rows with countries that are in both datasets
df1 = df1[df1['Country'].isin(match)]
df2 = df2[df2['Country Name'].isin(match)]

In [219]:
# rename Country Name column to Country
df2 = df2.rename(columns={'Country Name': 'Country'})

### Transforming df2: Cols to rows

In [220]:
min_year = 1980
max_year = 2022

In [221]:
# # find min year in df1 for each country and then find max of those
# min_year = df1.groupby('Country')['Year'].min().max()
# min_year

In [222]:
years = [i for i in range(min_year, max_year + 1)]
countries = match

In [223]:
len(years) * len(countries)

3870

In [224]:
df3 = pd.DataFrame(columns=['Country', 'Year', 'Population'])

for country in countries:
    for year in years:
        df3 = df3._append({'Country': country, 'Year': year, 'Population': df2[df2['Country'] == country][str(year)].values[0]}, ignore_index=True)

### Taking a consistent year range

In [225]:
# convert year column to int64
df1['Year'] = df1['Year'].astype('int64')
df3['Year'] = df3['Year'].astype('int64')

In [226]:
# keep only rows with years between min_year and max_year
df1 = df1[(df1['Year'] >= min_year) & (df1['Year'] <= max_year)]
df3 = df3[(df3['Year'] >= min_year) & (df3['Year'] <= max_year)]

In [227]:
len((df1['Country'])), len((df3['Country']))
# len(set(df1['Country'])), len(set(df3['Country']))

(3563, 3870)

In [229]:
countriesToRem = set()
for country in countries:
  # print number of rows that have country in df1 & df3
  if len(df1[df1['Country'] == country]) != len(df3[df3['Country'] == country]):
    print(country, len(df1[df1['Country'] == country]), len(df3[df3['Country'] == country]))
    countriesToRem.add(country)

North Macedonia 33 43
Estonia 38 43
Mongolia 42 43
Latvia 38 43
Lithuania 38 43
Equatorial Guinea 31 43
New Caledonia 28 43
Chad 21 43
Slovenia 33 43
Zambia 28 43
Croatia 33 43
Curacao 11 43
Zimbabwe 42 43
Mozambique 11 43
South Sudan 11 43
Papua New Guinea 14 43
Serbia 16 43
Cuba 28 43
Madagascar 28 43
Sudan 29 43

In [232]:
countries = list(set(countries).difference(countriesToRem))

In [234]:
# keep only rows with countries that are in both datasets
df1 = df1[df1['Country'].isin(countries)]
df3 = df3[df3['Country'].isin(countries)]

In [235]:
len(df1), len(df3)

(3010, 3010)

### Saving datasets

In [236]:
outFile1 = 'edited-data/Energy-Data-Edited.csv'
outFile2 = 'edited-data/worldPopulationData-Edited.csv'

In [237]:
df1.to_csv(outFile1, index=False)
df3.to_csv(outFile2, index=False)